.modal-backdrop.show {
    opacity: 0.9;
}
.col > header {
    font-size: 13px;
    font-variant: all-petite-caps;
    color: #6f6c6c;
    font-weight: 600;
}
.col>p {
    font-style: inherit;
    font-size: 16px;
    font-variant: petite-caps;
    color: #5c826d;
}